/**@media only screen and (min-width: 600px) {
    #settings{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
    body{
        background-color: none;
    }
}
@media only screen and (min-width: 1200px) {
    #settings{
        display: flex;
    }
}
**/